# Archivo .env autogenerado para glpi
# No editar directamente si se esta gestionando con Syntalix-Orion

GLPI_DOMAIN={{ GLPI__DOMAIN | default('glpi.localhost') }}
GLPI_DB_HOST=mariadb
GLPI_DB_PORT=3306
GLPI_DB_NAME=glpi
GLPI_DB_USER=root
GLPI_DB_PASSWORD={{ app_actual.password_db | default(MARIADB__MYSQL_ROOT_PASSWORD | default(MARIADB__DB_PASSWORD | default('securepass', true), true), true) }}
GLPI_CRONTAB_ENABLED=1
