# Archivo .env autogenerado para glpi
# No editar directamente si se esta gestionando con Syntalix-Orion

GLPI_DOMAIN={{ GLPI__DOMAIN | default('glpi.localhost') }}
MARIADB_HOST=mariadb
MARIADB_USER=glpi
MARIADB_PASSWORD={{ GLPI__GLPI_ADMIN_PASSWORD | default('glpipassword') }}
MARIADB_DATABASE=glpi
