version: '3.8'

services:
  app:
    image: docuseal/docuseal:latest
    env_file:
      - {{ playbook_dir }}/secrets/docuseal.env
    networks:
      - {{ docker_network_name | default('SyntalixNet') }}
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.docuseal.rule=Host(`{{ DOCUSEAL__DOMAIN | default('docuseal.localhost') }}`)"
        - "traefik.http.services.docuseal.loadbalancer.server.port=80"

networks:
  {{ docker_network_name | default('SyntalixNet') }}:
    external: true
