# Archivo .env autogenerado para docuseal
# No editar directamente si se esta gestionando con Syntalix-Orion

DOCUSEAL_DOMAIN={{ DOCUSEAL__DOMAIN | default('docuseal.localhost') }}
DATABASE_URL=postgresql://orion_admin:{{ DOCUSEAL__POSTGRES_PASSWORD | default('postgrespass') }}@postgres_pgvector:5432/appdb
