# Environment Variables para OpenWebUI
OPENWEBUI_DOMAIN={{ app_actual.dominio }}
OPENWEBUI_ADMIN_EMAIL={{ app_actual.usuario_admin }}

# Configuración adicional
GLOBAL_LOG_LEVEL=INFO
ENABLE_OLLAMA_API=False
WEBUI_SECRET_KEY={{ OPENWEBUI__WEBUI_SECRET_KEY | default(100 | random(seed=app_actual.dominio) | string, true) }}
