version: '3.7'
# Force update: Migration check

services:
  web:
    image: chatwoot/chatwoot:latest
    env_file:
      - ./{{ app_actual.nombre }}.env
    volumes:
      - {{ app_actual.nombre }}_storage:/app/storage
    networks:
      - SyntalixNet
    command: bundle exec rails s -p 3000 -b 0.0.0.0
    environment:
      - NODE_ENV=production
      - RAILS_ENV=production
      - INSTALLATION_ENV=docker
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.{{ app_actual.nombre }}.rule=Host(`{{ app_actual.dominio }}`)"
        - "traefik.http.routers.{{ app_actual.nombre }}.entrypoints=websecure"
        - "traefik.http.routers.{{ app_actual.nombre }}.tls.certresolver=letsencryptresolver"
        - "traefik.http.services.{{ app_actual.nombre }}.loadbalancer.server.port=3000"
      placement:
        constraints:
          - node.role == manager

  sidekiq:
    image: chatwoot/chatwoot:latest
    env_file:
      - ./{{ app_actual.nombre }}.env
    volumes:
      - {{ app_actual.nombre }}_storage:/app/storage
    networks:
      - SyntalixNet
    command: bundle exec sidekiq -C config/sidekiq.yml
    deploy:
      replicas: 1

{% if app_actual.dependencias.postgres is defined %}
  postgres:
    image: pgvector/pgvector:pg15
    volumes:
      - {{ app_actual.nombre }}_pg_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=chatwoot
      - POSTGRES_USER=chatwoot
      - POSTGRES_PASSWORD={{ app_actual.password_db | default('chatwoot123') }}
    networks:
      - SyntalixNet
{% endif %}

{% if app_actual.dependencias.redis is defined %}
  redis:
    image: redis:6.2-alpine
    volumes:
      - {{ app_actual.nombre }}_redis_data:/data
    networks:
      - SyntalixNet
{% endif %}

volumes:
  {{ app_actual.nombre }}_storage: {}
{% if app_actual.dependencias.postgres is defined %}
  {{ app_actual.nombre }}_pg_data:
    external: true
{% endif %}
{% if app_actual.dependencias.redis is defined %}
  {{ app_actual.nombre }}_redis_data:
    external: true
{% endif %}

networks:
  SyntalixNet:
    external: true
