# Configuración de Entorno N8N
NODE_ENV=production

# Base de Datos (Postgres)
N8N_FIX_MIGRATIONS=true
DB_TYPE=postgresdb
DB_POSTGRESDB_DATABASE={{ app_actual.nombre }}
DB_POSTGRESDB_HOST={{ app_actual.nombre }}_postgres
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_USER=postgres
DB_POSTGRESDB_PASSWORD={{ app_actual.password_db | default('secretDBpass') }}

# Redis (Cola de ejecución)
QUEUE_BULL_REDIS_HOST={{ app_actual.nombre }}_redis
QUEUE_BULL_REDIS_PORT=6379
QUEUE_BULL_REDIS_DB=1

# Modo de Ejecución
EXECUTIONS_MODE=queue
N8N_RUNNERS_ENABLED=true
N8N_RUNNERS_MODE=internal

# Clave de Encriptación (Debe ser persistente)
N8N_ENCRYPTION_KEY={{ clave_encriptacion_n8n | default('CAMBIAME_SI_NO_ESTA_DEFINIDO') }}

# URLs y Acceso
N8N_HOST={{ app_actual.dominio }}
N8N_EDITOR_BASE_URL=https://{{ app_actual.dominio }}/
WEBHOOK_URL=https://webhook.{{ app_actual.dominio }}/
N8N_PROTOCOL=https
N8N_PROXY_HOPS=1

# Seguridad y Características
N8N_ONBOARDING_FLOW_DISABLED=true
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
EXECUTIONS_DATA_PRUNE=true
EXECUTIONS_DATA_MAX_AGE=336

# SMTP (Envío de correos)
N8N_SMTP_SENDER={{ app_actual.smtp.sender | default('noreply@' + app_actual.dominio) }}
N8N_SMTP_USER={{ app_actual.smtp.user | default('') }}
N8N_SMTP_PASS={{ app_actual.smtp.password | default('') }}
N8N_SMTP_HOST={{ app_actual.smtp.host | default('') }}
N8N_SMTP_PORT={{ app_actual.smtp.port | default('587') }}
N8N_SMTP_SSL={{ app_actual.smtp.ssl | default('false') }}
