INTERNAL_NETWORK=SyntalixNet
ACME_EMAIL={{ app_actual.acme_email | default('admin@' + app_actual.dominio) }}
TRAEFIK_DASHBOARD_URL={{ app_actual.dominio }}
TRAEFIK_USER={{ app_actual.usuario_admin | default('admin') }}
TRAEFIK_PASSWORD={{ app_actual.password_db | default('password_seguro') }}
