version: "3.7"
services:

  traefik:
    image: traefik:v3.6.6
    command:
      - "--api.dashboard=true"
      - "--providers.swarm=true"
      - "--providers.swarm.endpoint=unix:///var/run/docker.sock"
      - "--providers.swarm.exposedbydefault=false"
      - "--providers.swarm.network={{ app_actual.internal_network | default('SyntalixNet', true) }}"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.web.transport.respondingTimeouts.idleTimeout=3600"
      - "--certificatesresolvers.letsencryptresolver.acme.httpchallenge=true"
      - "--certificatesresolvers.letsencryptresolver.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.letsencryptresolver.acme.storage=/letsencrypt/acme.json"
      - "--certificatesresolvers.letsencryptresolver.acme.email={{ app_actual.acme_email | default('admin@syntalix.net', true) }}"
      - "--log.level=DEBUG"
      - "--log.format=common"
      - "--log.filePath=/var/log/traefik/traefik.log"
      - "--accesslog=true"
      - "--accesslog.filepath=/var/log/traefik/access-log"

    volumes:
      - "vol_certificates:/letsencrypt"
      - "../logs:/var/log/traefik"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

    networks:
      - {{ app_actual.internal_network | default('SyntalixNet', true) }}

    ports:
      - target: 80
        published: 80
        mode: host
      - target: 443
        published: 443
        mode: host

    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.swarm.network={{ app_actual.internal_network | default('SyntalixNet', true) }}"
        - "traefik.http.middlewares.redirect-https.redirectscheme.scheme=https"
        - "traefik.http.middlewares.redirect-https.redirectscheme.permanent=true"
        - "traefik.http.routers.http-catchall.rule=Host(`{host:.+}`)"
        - "traefik.http.routers.http-catchall.entrypoints=web"
        - "traefik.http.routers.http-catchall.middlewares=redirect-https@swarm"
        - "traefik.http.routers.http-catchall.priority=1"
        # Dashboard labels
        - "traefik.http.routers.traefik.rule=Host(`{{ app_actual.dominio }}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
        - "traefik.http.routers.traefik.tls.certresolver=letsencryptresolver"
        - "traefik.http.routers.traefik.service=api@internal"
        - "traefik.http.services.traefik-dummy-svc.loadbalancer.server.port=8080"
        - "traefik.http.routers.traefik.entrypoints=websecure"
        - "traefik.http.routers.traefik.middlewares=authtraefik"
        
        # Redirección de / al /dashboard/
        - "traefik.http.middlewares.redirect-dashboard.redirectregex.regex=^https?://([^/]+)/?$$"
        - "traefik.http.middlewares.redirect-dashboard.redirectregex.replacement=https://$${1}/dashboard/"
        - "traefik.http.routers.traefik-root.rule=Host(`{{ app_actual.dominio }}`) && Path(`/`)"
        - "traefik.http.routers.traefik-root.entrypoints=websecure"
        - "traefik.http.routers.traefik-root.tls.certresolver=letsencryptresolver"
        - "traefik.http.routers.traefik-root.middlewares=authtraefik,redirect-dashboard"
        # Basic Auth Middleware (User: {{ app_actual.usuario_admin | default('admin', true) }})
        - "traefik.http.middlewares.authtraefik.basicauth.users={{ app_actual.usuario_admin | default('admin', true) }}:{{ TRAEFIK__PASSWORD | default('password_seguro', true) | replace('

volumes:
  vol_shared:
    external: true
    name: volume_swarm_shared
  vol_certificates:
    external: true
    name: volume_swarm_certificates

networks:
  {{ app_actual.internal_network | default('SyntalixNet', true) }}:
    external: true
    attachable: true
    name: {{ app_actual.internal_network | default('SyntalixNet', true) }}
, '$') }}"

volumes:
  vol_shared:
    external: true
    name: volume_swarm_shared
  vol_certificates:
    external: true
    name: volume_swarm_certificates

networks:
  {{ app_actual.internal_network | default('SyntalixNet', true) }}:
    external: true
    attachable: true
    name: {{ app_actual.internal_network | default('SyntalixNet', true) }}
