INTERNAL_NETWORK=SyntalixNet
ACME_EMAIL={{ app_actual.acme_email | default('admin@' ~ (app_actual.dominio | default('localhost', true))) }}
TRAEFIK_DASHBOARD_URL={{ app_actual.dominio | default('traefik.localhost', true) }}
TRAEFIK_USER={{ app_actual.usuario_admin | default('admin', true) }}
TRAEFIK_PASSWORD={{ TRAEFIK__PASSWORD | default('password_seguro', true) }}
