# Archivo .env autogenerado para listmonk
# No editar directamente si se esta gestionando con Syntalix-Orion

LISTMONK_DOMAIN={{ LISTMONK__DOMAIN | default('listmonk.localhost') }}
LISTMONK_app__admin_username={{ LISTMONK__LISTMONK_ADMIN_USERNAME | default('admin') }}
LISTMONK_app__admin_password={{ LISTMONK__LISTMONK_ADMIN_PASSWORD | default('admin') }}
LISTMONK_db__host=postgres_pgvector
