POSTGRES_USER={{ POSTGRES_PGVECTOR__POSTGRES_USER | default('orion_admin', true) }}
POSTGRES_PASSWORD={{ POSTGRES_PGVECTOR__POSTGRES_PASSWORD | default('secret', true) }}
POSTGRES_DB={{ POSTGRES_PGVECTOR__POSTGRES_DB | default('appdb', true) }}
