version: '3.8'
services:
  postgres:
    image: pgvector/pgvector:pg16
    deploy:
      restart_policy:
        condition: on-failure
    env_file:
      - {{ playbook_dir }}/secrets/postgres_pgvector.env
    networks:
      SyntalixNet:
        aliases:
          - postgres-db
    volumes:
      - postgres_data:/var/lib/postgresql/data

networks:
  SyntalixNet:
    external: true

volumes:
  postgres_data:
