AUTHENTIK_POSTGRESQL__HOST=postgres_pgvector
AUTHENTIK_POSTGRESQL__USER={{ lookup('vars', 'POSTGRES_PGVECTOR__POSTGRES_USER', default='orion_admin') }}
AUTHENTIK_POSTGRESQL__NAME=authentik
AUTHENTIK_POSTGRESQL__PASSWORD={{ lookup('vars', 'POSTGRES_PGVECTOR__POSTGRES_PASSWORD', default='secret') }}
AUTHENTIK_REDIS__HOST=redis
AUTHENTIK_REDIS__PASSWORD={{ lookup('vars', 'REDIS__REDIS_PASSWORD', default='secret') }}
AUTHENTIK_SECRET_KEY={{ lookup('vars', 'AUTHENTIK__SECRET_KEY', default='mysecret') }}
