version: '3.8'
services:
  authentik-server:
    image: ghcr.io/goauthentik/server:latest
    command: server
    deploy:
      restart_policy:
        condition: on-failure
      labels:
        - "traefik.enable=true"
        - "traefik.swarm.network=SyntalixNet"
        - "traefik.http.routers.authentik.rule=Host(`{{ app_actual.dominio | default('localhost', true) }}`)"
        - "traefik.http.routers.authentik.entrypoints=websecure"
        - "traefik.http.routers.authentik.tls.certresolver=letsencryptresolver"
        - "traefik.http.services.authentik.loadbalancer.server.port=9000"
    environment:
      - AUTHENTIK_POSTGRESQL__HOST=postgres-db
      - AUTHENTIK_POSTGRESQL__USER={{ POSTGRES_PGVECTOR__POSTGRES_USER | default('orion_admin', true) }}
      - AUTHENTIK_POSTGRESQL__NAME={{ POSTGRES_PGVECTOR__POSTGRES_DB | default('appdb', true) }}
      - AUTHENTIK_POSTGRESQL__PASSWORD={{ POSTGRES_PGVECTOR__POSTGRES_PASSWORD | default('secret', true) }}
      - AUTHENTIK_REDIS__HOST=redis-cache
      - AUTHENTIK_REDIS__PASSWORD={{ REDIS__REDIS_PASSWORD | default('secret', true) }}
      - AUTHENTIK_SECRET_KEY={{ AUTHENTIK__SECRET_KEY | default('mysecret', true) }}
      - CELERY_BROKER_CONNECTION_RETRY_ON_STARTUP=True
    volumes:
      - authentik_media:/media
      - authentik_custom_templates:/templates
    networks:
      - SyntalixNet

  authentik-worker:
    image: ghcr.io/goauthentik/server:latest
    command: worker
    deploy:
      restart_policy:
        condition: on-failure
    environment:
      - AUTHENTIK_POSTGRESQL__HOST=postgres-db
      - AUTHENTIK_POSTGRESQL__USER={{ POSTGRES_PGVECTOR__POSTGRES_USER | default('orion_admin', true) }}
      - AUTHENTIK_POSTGRESQL__NAME={{ POSTGRES_PGVECTOR__POSTGRES_DB | default('appdb', true) }}
      - AUTHENTIK_POSTGRESQL__PASSWORD={{ POSTGRES_PGVECTOR__POSTGRES_PASSWORD | default('secret', true) }}
      - AUTHENTIK_REDIS__HOST=redis-cache
      - AUTHENTIK_REDIS__PASSWORD={{ REDIS__REDIS_PASSWORD | default('secret', true) }}
      - AUTHENTIK_SECRET_KEY={{ AUTHENTIK__SECRET_KEY | default('mysecret', true) }}
      - CELERY_BROKER_CONNECTION_RETRY_ON_STARTUP=True
    volumes:
      - authentik_media:/media
      - authentik_certs:/certs
      - authentik_custom_templates:/templates
    networks:
      - SyntalixNet

networks:
  SyntalixNet:
    external: true

volumes:
  authentik_media:
  authentik_certs:
  authentik_custom_templates:
