AUTHENTIK_POSTGRESQL__HOST=postgres_pgvector
AUTHENTIK_POSTGRESQL__USER={{ POSTGRES_PGVECTOR__POSTGRES_USER | default('orion_admin') }}
AUTHENTIK_POSTGRESQL__NAME=authentik
AUTHENTIK_POSTGRESQL__PASSWORD={{ POSTGRES_PGVECTOR__POSTGRES_PASSWORD | default('secret') }}
AUTHENTIK_REDIS__HOST=redis
AUTHENTIK_REDIS__PASSWORD={{ REDIS__REDIS_PASSWORD | default('secret') }}
AUTHENTIK_SECRET_KEY={{ AUTHENTIK__SECRET_KEY | default('mysecret') }}
