version: '3.7'

services:
  # Servicio Editor
  editor:
    image: n8nio/n8n:latest
    command: start
    environment:
      - N8N_ENCRYPTION_KEY={{ lookup('vars', 'N8N__N8N_ENCRYPTION_KEY', default='CHANGEME') }}
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD={{ lookup('vars', 'N8N__N8N_BASIC_AUTH', default='admin') | replace('$', '$$') }}
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_HOST={{ app_actual.dominio }}
      - N8N_EDITOR_BASE_URL=https://{{ app_actual.dominio }}/
      - WEBHOOK_URL=https://webhook.{{ app_actual.dominio }}/
      - N8N_PROTOCOL=https
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_DATABASE=appdb
      - DB_POSTGRESDB_HOST=postgres-db
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_USER={{ lookup('vars', 'POSTGRES_PGVECTOR__POSTGRES_USER', default='orion_admin') }}
      - DB_POSTGRESDB_PASSWORD={{ lookup('vars', 'POSTGRES_PGVECTOR__POSTGRES_PASSWORD', default='secretpass') }}
      - QUEUE_BULL_REDIS_HOST=redis-cache
      - QUEUE_BULL_REDIS_PORT=6379
      - QUEUE_BULL_REDIS_PASSWORD={{ lookup('vars', 'REDIS__REDIS_PASSWORD', default='secret') }}
      - QUEUE_BULL_REDIS_DB=1
      - EXECUTIONS_MODE=queue
      - N8N_ONBOARDING_FLOW_DISABLED=true
    volumes:
      - {{ app_actual.nombre }}_data:/home/node/.n8n
    networks:
      - SyntalixNet
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.{{ app_actual.nombre }}_editor.rule=Host(`{{ app_actual.dominio }}`)"
        - "traefik.http.routers.{{ app_actual.nombre }}_editor.entrypoints=websecure"
        - "traefik.http.routers.{{ app_actual.nombre }}_editor.tls.certresolver=letsencryptresolver"
        - "traefik.http.services.{{ app_actual.nombre }}_editor.loadbalancer.server.port=5678"
      placement:
        constraints:
          - node.role == manager

  # Servicio Webhook
  webhook:
    image: n8nio/n8n:latest
    command: webhook
    environment:
      - N8N_ENCRYPTION_KEY={{ lookup('vars', 'N8N__N8N_ENCRYPTION_KEY', default='CHANGEME') }}
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD={{ lookup('vars', 'N8N__N8N_BASIC_AUTH', default='admin') | replace('$', '$$') }}
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_HOST={{ app_actual.dominio }}
      - N8N_EDITOR_BASE_URL=https://{{ app_actual.dominio }}/
      - WEBHOOK_URL=https://webhook.{{ app_actual.dominio }}/
      - N8N_PROTOCOL=https
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_DATABASE=appdb
      - DB_POSTGRESDB_HOST=postgres-db
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_USER={{ lookup('vars', 'POSTGRES_PGVECTOR__POSTGRES_USER', default='orion_admin') }}
      - DB_POSTGRESDB_PASSWORD={{ lookup('vars', 'POSTGRES_PGVECTOR__POSTGRES_PASSWORD', default='secretpass') }}
      - QUEUE_BULL_REDIS_HOST=redis-cache
      - QUEUE_BULL_REDIS_PORT=6379
      - QUEUE_BULL_REDIS_PASSWORD={{ lookup('vars', 'REDIS__REDIS_PASSWORD', default='secret') }}
      - QUEUE_BULL_REDIS_DB=1
      - EXECUTIONS_MODE=queue
      - N8N_ONBOARDING_FLOW_DISABLED=true
    volumes:
      - {{ app_actual.nombre }}_data:/home/node/.n8n
    networks:
      - SyntalixNet
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.{{ app_actual.nombre }}_webhook.rule=Host(`webhook.{{ app_actual.dominio }}`)"
        - "traefik.http.routers.{{ app_actual.nombre }}_webhook.entrypoints=websecure"
        - "traefik.http.routers.{{ app_actual.nombre }}_webhook.tls.certresolver=letsencryptresolver"
        - "traefik.http.services.{{ app_actual.nombre }}_webhook.loadbalancer.server.port=5678"
      placement:
        constraints:
          - node.role == manager

  # Servicio Worker
  worker:
    image: n8nio/n8n:latest
    command: worker --concurrency=10
    environment:
      - N8N_ENCRYPTION_KEY={{ lookup('vars', 'N8N__N8N_ENCRYPTION_KEY', default='CHANGEME') }}
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD={{ lookup('vars', 'N8N__N8N_BASIC_AUTH', default='admin') | replace('$', '$$') }}
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_HOST={{ app_actual.dominio }}
      - N8N_EDITOR_BASE_URL=https://{{ app_actual.dominio }}/
      - WEBHOOK_URL=https://webhook.{{ app_actual.dominio }}/
      - N8N_PROTOCOL=https
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_DATABASE=appdb
      - DB_POSTGRESDB_HOST=postgres-db
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_USER={{ lookup('vars', 'POSTGRES_PGVECTOR__POSTGRES_USER', default='orion_admin') }}
      - DB_POSTGRESDB_PASSWORD={{ lookup('vars', 'POSTGRES_PGVECTOR__POSTGRES_PASSWORD', default='secretpass') }}
      - QUEUE_BULL_REDIS_HOST=redis-cache
      - QUEUE_BULL_REDIS_PORT=6379
      - QUEUE_BULL_REDIS_PASSWORD={{ lookup('vars', 'REDIS__REDIS_PASSWORD', default='secret') }}
      - QUEUE_BULL_REDIS_DB=1
      - EXECUTIONS_MODE=queue
      - N8N_ONBOARDING_FLOW_DISABLED=true
    volumes:
      - {{ app_actual.nombre }}_data:/home/node/.n8n
    networks:
      - SyntalixNet
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager

volumes:
  {{ app_actual.nombre }}_data: {}

networks:
  SyntalixNet:
    external: true
