MARIADB_DOMAIN={{ app_actual.dominio }}
MARIADB_ROOT_PASSWORD={{ MARIADB__MYSQL_ROOT_PASSWORD | default('securepass', true) }}
MARIADB_DATABASE={{ MARIADB__MYSQL_DATABASE | default('appdb', true) }}

