MARIADB_DOMAIN={{ app_actual.dominio }}
MARIADB_USER={{ app_actual.usuario_admin | default('admin') }}
MARIADB_PASSWORD={{ app_actual.password_db | default(MARIADB__MYSQL_ROOT_PASSWORD | default('securepass', true), true) }}
