version: "3.8"

services:
  mariadb:
    image: mariadb:10.11
    command: ["mysqld", "--bind-address=0.0.0.0"]
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - {{ app_actual.internal_network | default('SyntalixNet', true) }}
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.mariadb.rule=Host(`{{ app_actual.dominio }}`)"
        - "traefik.http.routers.mariadb.entrypoints=websecure"
        - "traefik.http.routers.mariadb.tls.certresolver=letsencryptresolver"
        - "traefik.http.services.mariadb.loadbalancer.server.port=3306"
    environment:
      - "MARIADB_ROOT_PASSWORD={{ app_actual.password_db | default(MARIADB__MYSQL_ROOT_PASSWORD | default('securepass', true), true) }}"
      - "MARIADB_DATABASE={{ app_actual.database | default('evolutionapi') }}"

volumes:
  mariadb_data:
    name: mariadb_data

networks:
  {{ app_actual.internal_network | default('SyntalixNet', true) }}:
    external: true
    name: {{ app_actual.internal_network | default('SyntalixNet', true) }}