MARIADB_DOMAIN={{ app_actual.dominio }}
MARIADB_ROOT_PASSWORD={{ MARIADB__MYSQL_ROOT_PASSWORD | default('securepass', true) }}
MARIADB_DATABASE={{ MARIADB__MYSQL_DATABASE | default('appdb', true) }}
MARIADB_USER={{ MARIADB__MYSQL_USER | default('orion_admin', true) }}
MARIADB_PASSWORD={{ MARIADB__MYSQL_PASSWORD | default('securepass', true) }}

