GRAFANA_DOMAIN={{ app_actual.dominio }}
GRAFANA_USER={{ app_actual.usuario_admin | default('admin') }}
GRAFANA_PASSWORD={{ GRAFANA__PASSWORD | default('securepass') }}
GF_SECURITY_ADMIN_PASSWORD={{ GRAFANA__PASSWORD | default('securepass') }}