GRAFANA_DOMAIN={{ app_actual.dominio }}
GRAFANA_USER={{ app_actual.usuario_admin | default('admin') }}
GRAFANA_PASSWORD={{ app_actual.password_db | default('securepass') }}
GF_SECURITY_ADMIN_PASSWORD={{ app_actual.password_db | default('securepass') }}