# Archivo .env autogenerado para moodle
# No editar directamente si se esta gestionando con Syntalix-Orion

MOODLE_DOMAIN={{ MOODLE__DOMAIN | default('moodle.localhost') }}
MOODLE_DATABASE_HOST=mariadb
MOODLE_DATABASE_USER=moodle
MOODLE_DATABASE_PASSWORD={{ MOODLE__MOODLE_ADMIN_PASSWORD | default('moodlepassword') }}
MOODLE_DATABASE_NAME=moodle
