version: '3.8'

services:
  app:
    image: bitnami/moodle:latest
    env_file:
      - {{ playbook_dir }}/secrets/moodle.env
    networks:
      - {{ docker_network_name | default('SyntalixNet') }}
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.moodle.rule=Host(`{{ MOODLE__DOMAIN | default('moodle.localhost') }}`)"
        - "traefik.http.services.moodle.loadbalancer.server.port=80"

networks:
  {{ docker_network_name | default('SyntalixNet') }}:
    external: true
